<section class="about-section">
    <h2>My Journey <span>so Far...</span></h2>
    <div class="timeline">
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>📚 School</h3>
          <p>Started exploring computers and basic programming such as C , C++ , Java. Fell in love with tech early!</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>🎓 College: KIIT</h3>
          <p>Graduated with a degree in EEE . Built cool projects and started diving into web dev.</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>💼 Angular Developer: Cognizant</h3>
          <p>Currently working as an Angular developer at: <u>Cognizant Technology Solution</u>, building scalable and responsive applications.</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>🤖 AI & Data Science</h3>
          <p>Interested in Artificial Intelligence and Data Science — always learning something new.</p>
        </div>
      </div>
  
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>🌐 NEAN Stack</h3>
          <p>Exploring the NEAN stack (Node.js, Express.js, Angular, MongoDB) to build full-stack applications.</p>
        </div>
      </div>
    </div>
    
  </section>
  